<footer class="mt-auto text-white-50">
    <div class="media-buttons">
      <p>
        <a href="https://github.com" class="btn btn-outline-secondary"><i class="fab fa-github"></i> Github</a>
          <a href="https://twitter.com/home" class="btn btn-outline-secondary"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="https://www.linkedin.com/" class="btn btn-outline-secondary"><i class="fab fa-linkedin"></i>Linkedin</a>
      </p>
  </div>
</div>

  </footer>
</div>


    
  </body>
</html>